---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import Layout from '../../layouts/Layout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

import '../../css/blog.css'
import '../../css/blog-posts.css'
---

<Layout title="Blog · Christina's Cleaners">
	<a href="/" class="back">Return Home</a>
	<main>
		<section>
			
			<h1>Christina's Blog</h1>

			<!-- <h2>Welcome to my blog! Alright, I'll confess – I'm too busy cleaning to write these. So, my AI friend pens down all these helpful tips, tricks, and insights about office carpet care in London. Dive in and enjoy!</h2> -->


			<ul class="posts">
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<div class="content">
									<FormattedDate date={post.data.pubDate} />

									<h2>{post.data.title}</h2>

									{post.data.description ? (<p class="description" set:html={post.data.description}></p>) : ""}

									<span class="read">Read story</span>
								</div>

								<img src={post.data.heroImage} class="hero" alt={post.data.title}/>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
