---
import "../css/globals.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, keywords } = Astro.props;

import { Schema } from 'astro-seo-schema';

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS, OG_IMAGE, BRAND_NAME, LEGAL_NAME, FACEBOOK_URL, LINKEDIN_URL, GOV_REGISTRY, TEL_HREF } from "../consts";
---


<head>
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-777GF0Q032"></script>
    <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-777GF0Q032');
    
    gtag('send', 'pageview', {
        'Branch': '{{ BRANCH }}'
    });
    </script> -->
    
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION}>
    <meta name="keywords" content={SITE_KEYWORDS}>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : SITE_TITLE}</title>
    

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:image" content={OG_IMAGE} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={SITE_DESCRIPTION} />
    <meta property="twitter:image" content={OG_IMAGE} />

    <Schema
        item={{
            // WEBPAGE
            "@context": "https://schema.org",
            "@type":"WebPage",
            "name":`${SITE_TITLE}`,
            "url":`${Astro.url}`,
            "description":`${SITE_DESCRIPTION}`,
            "isPartOf":{
                // WEBSITE
                "@type":"WebSite",
                "name":`${BRAND_NAME}`,
                "@id":`${Astro.url}`,
                "url":`${Astro.url.origin}`,
                    // ORGANIZATION
                    "publisher":{
                    "@type":"Organization",
                    "name":`${BRAND_NAME}`,
                    "image": {OG_IMAGE},
                    "legalName":`${LEGAL_NAME}`,
                    "url":`${Astro.url}`,
                    "telephone": [
                        `${TEL_HREF}`,
                    ],
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "",
                        "addressRegion": "",
                        "addressLocality": "",
                        "postalCode": "",
                        "addressCountry": "UK"
                    },
                    "sameAs":[
                        `${GOV_REGISTRY ? GOV_REGISTRY : ""}`,
                        `${FACEBOOK_URL}`
                    ]
                    }
                }
        }}
    />
</head>