---
    import {TEL, TEL_HREF, TEL_INTERNATIONAL, EMAIL} from '../consts'
---

<div class="strip">
    <div class="width">
        <a href=`tel:${TEL_HREF}` class="flex" title="call us" aria-label=`Call us at ${TEL_INTERNATIONAL}`>
            <div class="bg icon tel"></div>
            <span>{TEL}</span>
        </a>

        <div class="flex">
            <a href=`mailto:${EMAIL}` class="bg icon mail" title="Email us" aria-label=`E-mail us at ${EMAIL}`></a>

            <hr>

            <a href="https://www.facebook.com/ChristinasCleaners.co.uk/" class="bg icon facebook" target="_blank" title="Find us on Facebook" aria-label="Facebook link"></a>

            <hr>
            
            <a href="https://www.instagram.com/christinas_cleaners/" target="_blank" class="bg icon instagram" title="Find us on Instagram" aria-label="Instagram link"></a>
        </div>
    </div>

    <a href="/jobs/" class="jobs" aria-label="Work with us link">Work with us</a>
</div>

<style>
    .jobs {
        color: var(--c2-e);
        font-size: 0.9em;
    }

    .jobs:hover {
        color: var(--light-a);
    }

    .strip {
        width: 100%;
        background-color: var(--c2-a);
        height: var(--strip-height);
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    
    .strip>.width {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    
    .strip .bg.icon {
        background-size: 50%;
        background-position: center;
        height: 100%;
        transition: background-color 0.4s ease;
    }
    
    .strip .bg.icon.tel {
        margin-right: 1rem;
    }
    
    .strip .bg.icon:hover,
    .strip a:hover .icon {
        background-color: var(--c2);
        transition: background-color 0s ease;
    }
    
    .strip a,
    .strip a .icon {
        min-width: 3rem;
        /* height: 2rem; */
    }
    
    .strip a span {
        font-weight: 400;
        font-size: clamp(1rem, 3.5vw, 1.2rem);
        color: var(--light-a);
        letter-spacing: 0.1rem;
        line-height: 1;
    }
    
    .strip .flex {
        /* gap:1rem; */
        align-items: center;
        height: 100%;
    }
    
    .strip .flex hr {
        /* width: 0.2rem; */
        height: 100%;
        background-color: var(--c2-b);
        border: unset;
        border-left: 0.1rem solid var(--c2);
    }

    .strip .jobs {
        display: none;
    }

    
    @media (min-width: 1080px) {
        .strip .jobs {
            font-size: clamp(1rem, 0.8vw, 1.4rem);
            position: absolute;
            right: 1vw;
            font-weight: 400;
            line-height: 1.4;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
</style>