---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import Strip from '../components/Strip.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

import '../css/global.css'
import '../css/blog.css'
import '../css/post.css'

import CookieConsentBanner from '../components/CookieConsentBanner.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ? description : SITE_DESCRIPTION}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : SITE_TITLE}</title>
	</head>

	<body>
		<Strip></Strip>
		<Header></Header>
		<a href="/blog/" class="back">Return Blog</a>
		<main>
			
			<div class="article_flex">
				{heroImage && <img width={720} height={360} src={heroImage} alt={description} class="hero" />}

				<article>
	
					<div class="heading_ctnr">	
						<FormattedDate date={pubDate} />
		
						<h1 class="title">{title}</h1>
	
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
						<hr />
					</div>
					<slot />

					<a href="/blog/" class="end_back">Return Blog</a>
				</article>
			</div>
		</main>

		<CookieConsentBanner></CookieConsentBanner>
		<Strip></Strip>
	</body>
</html>
