--- 
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;

import '../css/global.css'

import CookieConsentBanner from '../components/CookieConsentBanner.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import Stripe from '../components/Stripe.astro';
import Header from '../components/Header.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface ScrollRevealObject {
    reveal: (selector: string, options?: any) => void;
}

declare global {
  function ScrollReveal(): ScrollRevealObject;
}
---

<!DOCTYPE html>

<script is:inline src="/js/scrollreveal.min.js"></script>

<script>
    ScrollReveal().reveal('.reveal', {
        distance: '0.4rem',
    	origin: 'bottom',
        opacity: 0,
        duration:800,
        easing: 'ease',
    });

    ScrollReveal().reveal('.reveal_delay', {
        distance: '0.4rem',
    	origin: 'bottom',
        opacity: 0,
        duration:800,
        easing: 'ease',
		interval:150,
    });
</script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ? description : SITE_DESCRIPTION}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="canonical" href={canonicalURL} />
		
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={SITE_DESCRIPTION} />
		<meta property="og:image" content="/og/social-image.jpg" />
		
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={SITE_DESCRIPTION} />
		<meta property="twitter:image" content="/og/social-image.jpg" />
		
	</head>
	<body>
		<Stripe></Stripe>
		<Header></Header>

		<slot />

		<CookieConsentBanner></CookieConsentBanner>

		<Stripe></Stripe>
	</body>
</html>
